*.*/
mrtmp.*
824-mrinput-*.txt
/main/diff.out
/mapreduce/x.txt
/pbservice/x.txt
/kvpaxos/x.txt
*.so
/kvraft
/labgob
/labrpc
/models
/porcupine
/raft
/shardkv
/shardmaster
/main/diskvd.go
/main/lockc.go
/main/lockd.go
/main/pbc.go
/main/pbd.go
/main/viewd.go
/main/*.so